body {
    background-color: rgb(196, 196, 196);
}

.jumbotron {
    margin-bottom: 10px;
}

nav li {
    margin-left: 10px;
    font-size: 1.2rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

#portfolio, #contact {
    border-right: 1px;
    border-left:solid;
    padding-left:8px;
}

#Outer_Limit {
    border:solid;
    border-color: rgb(85, 84, 84);
}

header {
    border-bottom: 1px;
    border-bottom:solid;
    border-color: gray;
}

.links a {
    color: black;
}